<footer>
    <div class="footer-left">
        <p>© 2025 Dansay — Суши & Пицца ресторан</p>
        <p>Телефон: +996 (777) 123-123</p>
        <p>Доп. телефон: +7 (908) 777-44-25</p>
        <p>Адрес: Трактовая ул., 1А, рабочий посёлок Средний</p>
    </div>
    <div class="footer-right">
        <p><b>Время работы:</b></p>
        <p>Понидельник: 11:00 – 22:00</p>
        <p>Вторник: 11:00 – 22:00</p>
        <p>Среда: 11:00 – 22:00</p>
        <p>Четверг: 11:00 – 22:00</p>
        <p>Пятница: 11:00 – 22:00</p>
        <p>Суббота: 11:00 – 22:00</p>
        <p>Воскресенье: 11:00 – 22:00</p>
    </div>
</footer>